html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


/*******************************************************************************

FORM CONTENT

*******************************************************************************/

.user-form-title,
form.main-form {
  text-align: center;
  margin: 0 auto;
}

.user-input-item {
  margin-bottom: 10px;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='date'],
textarea,
select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.gender-radios,
.hobbies-checkboxes {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.gender-radios > div,
.hobbies-checkboxes > div {
  display: flex;
}

.gender-radios > div > div,
.hobbies-checkboxes > div > div {
  margin: 0 5px;
  padding: 0 5px;
}

/*******************************************************************************

TABLE

*******************************************************************************/

.user-table {
    margin-top: 15px;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
}

.user-table-header, .user-table-row {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
}

.user-table-header {
    font-weight: bolder;
    background-color: #999;
    padding: 5px 0px 5px;
}

.user-table-row {
    padding: 3px 0px 3px;
    border-bottom: 1px solid #000;
}

.user-table-header-cell, .user-table-row-cell { 
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 5px;
    padding: 0 5px;
}

/*******************************************************************************

BUTTONS

*******************************************************************************/

.primary-button, .secondary-button {
    padding: 15px;
    border: 0;
    border-radius: 5px;
}

.primary-button {
    background-color: rgb(122, 122, 255);
}

.secondary-button {
    background-color: rgb(255, 122, 122);
}

.primary-button:hover {
    background-color: rgb(60, 60, 255);
}

.secondary-button:hover
 {
    background-color: rgb(255, 60, 60);
}